@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.crosshair {
  visibility: hidden;
  position: absolute;
  width: 54px;
  height: 54px;
  background: transparent url(../img/crosshair.svg) 0 0 no-repeat scroll;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
}

.ol-attribution {
  max-width: calc(100%);
  white-space: nowrap;
  width: fit-content;
}

.list {
  margin: 0px!important;
}
